{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/api_description.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Описание login -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Вход в систему
                </h3>
                <p>
                    POST: /api/login/
                </p>
                <p>
                    На хук надо отправить username (имя пользователя) и password (пароль).
                    Если данные корректны, то хук вернет токен, который должен быть
                    сохранен на фронтэнде для аутентификации последующих запросов.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>password: "пароль_пользователя"</code>
                    </li>
                    <li>
                        <code>username: "логин_пользователя"</code>
                    </li>
                </ul>
                <code>Ответ:</code>
                <ul>
                    <li>
                        <pre>{{ login_json }}</pre>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Описание account_data -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Получение данных аккаунта
                </h3>
                <p>
                    GET: /api/account_data/
                </p>
                <p>
                    Хук возвращает данные аккаунта. Для корректной обработки запроса обязательно
                    должен быть указан HTTP-заголовок Authorization с токеном запрашиваемого аккаунта.
                </p>
            </div>
            <div class="code_block">
                <code>Ответ:</code>
                <ul>
                    <li>
                        <pre>{{ account_data_json }}</pre>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Описание logout -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Выход из системы
                </h3>
                <p>
                    POST: /api/logout/
                </p>
                <p>
                    На хук надо отправить пустой запрос, с заголовком Authorization, в котором
                    должен быть указан токен, для которого необходимо выполнить выход из системы.
                </p>
            </div>
            <div class="code_block">
                <code>Если успешно - ответ со статусом 200</code>
            </div>
        </div>

        <!-- Описание register -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Регистрация нового пользователя
                </h3>
                <p>
                    POST: /api/register/
                </p>
                <p>
                    На хук надо отправить регистрационные данные создаваемого пользователя.
                    Если все хорошо: пустой ответ со статусом 201
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>username: "логин_пользователя"</code>
                    </li>
                    <li>
                        <code>password: "пароль_пользователя"</code>
                    </li>
                    <li>
                        <code>email: "email_пользователя"</code>
                    </li>
                    <li>
                        <code>first_name: "имя_пользователя"</code>
                    </li>
                    <li>
                        <code>last_name: "фамилия_пользователя"</code>
                    </li>
                </ul>
                <code>Если данные корректны: ответ со статусом 201</code>
            </div>
        </div>

        <!-- Описание edit_account -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Редактирование пользователя
                </h3>
                <p>
                    POST: /api/edit_account/
                </p>
                <p>
                    Ну хук надо отправить обновленные логин и email пользователя (обязательные параметры).
                    Также можно отправить имя и фамилию (необязательные параметры). В запросе должен
                    присутствовать HTTP-заголовок Authorization с токеном редактируемого пользователя.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>username: "логин_пользователя"</code>
                    </li>
                    <li>
                        <code>email: "логин_пользователя"</code>
                    </li>
                    <li>
                        <code>first_name: "имя_пользователя"</code>
                    </li>
                    <li>
                        <code>last_name: "фамилия_пользователя"</code>
                    </li>
                </ul>
                <code>Если данные корректны: ответ со статусом 200</code>
            </div>
        </div>

        <!-- Описание remove_account -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Удаление пользователя
                </h3>
                <p>
                    DELETE: /api/remove_account/
                </p>
                <p>
                    Ну хук надо отправить текущий пароль пользователя.
                    В запросе должен присутствовать HTTP-заголовок Authorization с токеном удаляемого пользователя.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>password: "пароль_пользователя"</code>
                    </li>
                </ul>
                <code>Если данные корректны: ответ со статусом 200</code>
            </div>
        </div>

        <!-- Описание change_password -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Изменения пароля пользователя
                </h3>
                <p>
                    POST: /api/change_password/
                </p>
                <p>
                    Ну хук надо отправить текущий и новый пароли.
                    В запросе должен присутствовать HTTP-заголовок Authorization с токеном удаляемого пользователя.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>password: "текущий_пароль_пользователя"</code>
                    </li>
                    <li>
                        <code>next_password: "новый_пароль_пользователя"</code>
                    </li>
                </ul>
                <code>Если данные корректны: ответ со статусом 200</code>
            </div>
        </div>

        <!-- Описание reset_password -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Сброс пароля пользователя. Отправка email с кодом сброса
                </h3>
                <p>
                    POST: /api/reset_password/
                </p>
                <p>
                    Ну хук надо отправить текущий email пользователя.
                    После этого на email будет отправлен код сброса пароля, который необходимо задействовать
                    при установке нового пароля.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>email: "текущий_email_пользователя"</code>
                    </li>
                </ul>
                <code>
                    Если данные корректны, то в ответ придет uuid запроса, который надо будет использовать при
                    обращении к хуку установки нового пароля:
                </code>
                <pre>{{ reset_password_json }}</pre>
            </div>
        </div>

        <!-- Описание reset_password_confirm -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Сброс пароля пользователя. Отправка кода сброса и нового пароля
                </h3>
                <p>
                    POST: /api/reset_password_confirm/{uuid}/
                </p>
                <p>
                    Ну хук надо отправить uuid, полученный от хука /api/reset_password/ и новый пароль.
                    Если данные корректны, то новый пароль будет установлен пользователю с переданным ранее
                    адресом электронной почты.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>code: "код_сброса_пароля"</code>
                    </li>
                    <li>
                        <code>password: "новый_пароль"</code>
                    </li>
                </ul>
                <code>
                    Если данные корректны: ответ со статусом 200
                </code>
            </div>
        </div>

        <!-- Описание groups -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Работа с группами
                </h3>
                <p>
                    GET: /api/groups/
                </p>
                <p>
                    GET, POST, DELETE, PATCH, PUT: /api/groups/{id_группы}/
                </p>
                <p>
                    Хук нужен для создания, удаления и изменения групп.
                    Группами могут быть филиалы организации, подразделения, либо даже просто отдельные помещения, в
                    которых установлено оборудование, учет которого ведется в сервисе. Запросы к хуку требуют
                    обязательной аутентификации (указания токена пользователя в заголовке Authorization).
                </p>
            </div>
            <div class="code_block">
                <code>Пример ответа API на запрос списка групп:</code>
                <p>
                <pre>{{ group_json }}</pre>
                </p>
                <p>
                    <code>
                        Поле group у объектов - идентификатор родительской группы. У корневых групп он равен null.
                    </code>
                </p>
            </div>
        </div>

        <!-- Описание equipment_cards -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Работа с карточками оборудования
                </h3>
                <p>
                    GET: /api/equipment_cards/
                </p>
                <p>
                    GET, POST, DELETE, PATCH, PUT:
                    <br>
                    /api/equipment_cards/{id_карточки}/
                </p>
                <p>
                    Хук нужен для создания, удаления и изменения карточек оборудования.
                    Запросы к хуку требуют обязательной аутентификации (указания токена пользователя в заголовке
                    Authorization).
                </p>
                <p>
                    Допустимо указывать параметр поиска group для отбора карточек, принадлежащих определенной группе.
                </p>
            </div>
            <div class="code_block">
                <code>
                    Пример ответа API на запрос списка карточек:
                    <br>
                    GET /api/equipment_cards/?group=44
                </code>
                <p>
                <pre>{{ equipment_cards_json }}</pre>
                </p>
            </div>
        </div>

        <!-- Описание equipment_types -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Работа с типам оборудования
                </h3>
                <p>
                    GET: /api/equipment_types/
                </p>
                <p>
                    GET, POST, DELETE, PATCH, PUT:
                    <br>
                    /api/equipment_types/{id_типа}/
                </p>
                <p>
                    Хук нужен для создания, удаления и изменения типов оборудования.
                    Запросы к хуку требуют обязательной аутентификации (указания токена пользователя в заголовке
                    Authorization).
                </p>
                <p>
                    При регистрации пользователя для него автоматически создается следующий набор типов:
                </p>
                <ul>
                    <li>Десктоп</li>
                    <li>Ноутбук</li>
                    <li>Сервер</li>
                    <li>Принтер</li>
                    <li>МФУ</li>
                    <li>Сканер</li>
                    <li>Коммутатор</li>
                    <li>Роутер'</li>
                </ul>
            </div>
            <div class="code_block">
                <code>
                    Пример ответа API на запрос списка типов:
                    <br>
                    GET /api/equipment_types/
                </code>
                <p>
                <pre>{{ equipment_types_json }}</pre>
                </p>
            </div>
        </div>

        <!-- Описание equipment_features -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Работа со списками характеристик оборудования
                </h3>
                <p>
                    GET: /api/equipment_features/
                </p>
                <p>
                    GET, POST, DELETE, PATCH, PUT:
                    <br>
                    /api/equipment_features/{id_характеристики}/
                </p>
                <p>
                    Хук нужен для создания, удаления и изменения характеристик отдельной еденицы оборудования
                    (например, сервера, десктопа, ноутбука и т.п.).
                    Запросы к хуку требуют обязательной аутентификации (указания токена пользователя в заголовке
                    Authorization).
                </p>
                <p>
                    При запросе характеристик на хук надо передавать параметр card с идентификатором карточки
                    оборудования.
                </p>
            </div>
            <div class="code_block">
                <code>
                    Пример ответа API на запрос списка характеристик:
                    <br>
                    GET /api/equipment_features/?card=2
                </code>
                <p>
                <pre>{{ equipment_features_json }}</pre>
                </p>
            </div>
        </div>
    </div>
{% endblock %}