{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/api_description.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Описание login -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Хук для выполнения входа
                </h3>
                <p>
                    POST: /api/login/
                </p>
                <p>
                    На хук надо отправить username (имя пользователя) и password (пароль).
                    Если данные корректны, то хук вернет токен, который должен быть
                    сохранен на фронтэнде для аутентификации последующих запросов.
                </p>
            </div>
            <div class="code_block">
                <code>В запросе:</code>
                <ul>
                    <li>
                        <code>password: "пароль_пользователя"</code>
                    </li>
                    <li>
                        <code>username: "логин_пользователя"</code>
                    </li>
                </ul>
                <code>Ответ:</code>
                <ul>
                    <li>
                        <pre>{{ login_json }}</pre>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Описание logout -->
        <div class="hook_block">
            <div class="description_block">
                <h3>
                    Хук для выполнения выхода
                </h3>
                <p>
                    POST: /api/logout/
                </p>
                <p>
                    На хук надо отправить пустой запрос, с заголовком Authorization, в котором
                    должен быть указан токен, для которого необходимо выполнить выход из системы.
                </p>
            </div>
            <div class="code_block">
                <code>Если успешно - ответ со статусом 200</code>
            </div>
        </div>
    </div>
{% endblock %}