{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>liteInventory</title>
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <style>
        @font-face {
            font-family: 'Roboto Light';
            src: local('Roboto Light'), url("{% static 'main/font/Roboto-Light.ttf' %}") format('truetype');
        }
    </style>
    {% block style %}
    {% endblock style %}
    <script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'main/js/cookie.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
<script type="text/javascript">
    // Устанавливаем заголовок для всех ajax-запросов
    $.ajaxSetup({headers: {'X-CSRFToken': Cookies.get('csrftoken')}});
</script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>