{% extends 'main/base.html' %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'main/css/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_staff or user.is_superuser %}
            <h3>
                Изменение пароля персонала или суперюзера производится с помощью
                <a href="{% url 'admin:index' %}">стандартной административной панели Django</a>
            </h3>
        {% else %}
            <h3>Введите новый пароль</h3>
            <form method="post">
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Сменить пароль">
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
            </form>
        {% endif %}
    </div>
{% endblock %}