{% extends 'main/base.html' %}

{% block content %}
    {% if user.is_staff or user.is_superuser %}
        Изменение пароля персонала или суперюзера производится с помощью
        <a href="{% url 'admin:index' %}">стандартной административной панели Django</a>
    {% else %}
        <div>
            <form method="post">
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" value="Сменить пароль">
            </form>
        </div>
    {% endif %}

{% endblock %}