{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/common_account_form_styles.css' %}">
    <style>

    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <h3>Пароль успешно изменен!<br>
            Вы можете перейти на
            <a href="{% url 'main:index' %}">главную страницу</a>
            или
            <a href="{% url 'main:inventory' %}">в инвентарь</a>
        </h3>
    </div>
{% endblock %}