{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/equipment_card.css' %}">
{% endblock %}

{% block content %}
    <div class="container" id="card_container">
        <form>
            <h1>
                Группа: {{ equipment_card.group.title }}
            </h1>
            <div>
                <label for="inv_number">Инв. номер:</label>
                <input type="text" id="inv_number" name="inv_number" value="{{ equipment_card.inv_number|none }}">
            </div>
            <div>
                <label for="equipment_type">Тип:</label>
                <select name="equipment_type" id="equipment_type">
                    {% for equipment_type in equipment_types %}
                        {% if equipment_card.equipment_type.id == equipment_type.id %}
                            <option value="{{ equipment_type.id }}" selected>{{ equipment_type.title }}</option>
                        {% else %}
                            <option value="{{ equipment_type.id }}">{{ equipment_type.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="title">Описание:</label>
                <input type="text" id="title" name="title" value="{{ equipment_card.title|none }}">
            </div>
            <div>
                <label for="comment">Комментарий:</label>
                <input type="text" id="comment" name="comment" value="{{ equipment_card.comment|none }}">
            </div>
            <div>
                <label for="worker">Должность пользователя:</label>
                <input type="text" id="worker" name="worker" value="{{ equipment_card.worker|none }}">
            </div>
            <div>
                <label for="purchase_date">Дата приобретения:</label>
                <input type="date"
                       id="purchase_date"
                       name="purchase_date"
                       value="{{ equipment_card.purchase_date|date:"Y-m-d" }}"
                >
            </div>
            <div>
                <label for="price">Стоимость:</label>
                <input type="text"
                       id="price"
                       name="price"
                       pattern="(\d{0,13})|(\d{0,13}\.\d{0,2})"
                       value="{{ equipment_card.price|none|dot }}"
                >
            </div>
            <input type="hidden" name="equipment_id" value="{{ equipment_card.id }}">
            <div>
                <input type="button" value="Отмена">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>

    <div class="container" id="features_container">
        <h1>Характеристики</h1>
        <div>
            <input type="button" id="create_feature_btn" value="Добавить">
            <input type="button" id="edit_feature_btn" value="Изменить">
            <input type="button" id="remove_feature_btn" value="Удалить">
        </div>
        <div>
            <ul class="features_list"></ul>
        </div>
    </div>

    <dialog id="feature_dialog">
        <form>
            <div>
                <label for="feature_name">Наименование характеристики:</label>
                <input type="text" id="feature_name" name="name" required>
            </div>
            <div>
                <label for="feature_value">Значение характеристики:</label>
                <input type="text" id="feature_value" name="value" required>
            </div>
            <div>
                <input type="button" value="Отмена">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </dialog>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const EQUIPMENT_CARDS_API_URL = '/api/equipment_cards/';
        const EQUIPMENT_FEATURES_API_URL = '/api/equipment_features/';

        let cardId = $('input[name=equipment_id]').val();

        let selectedFeature = null;

        // Функция обновляет список свойств
        function refreshFeatures() {
            let $featureList = $('ul.features_list');

            // Сбрасываем обработчики и очищаем список
            $('*', $featureList).off();
            $featureList.empty();

            // Обработчик кликов
            let elementsClickHandler = event => {
                $('li', $featureList).removeClass('selected');
                let $target = $(event.target).closest('li');
                $target.addClass('selected');
                selectedFeature = $target.data('feature');
            }

            let $listElement;
            $.ajax(`${EQUIPMENT_FEATURES_API_URL}`, {data: {card: cardId}}).then(featuresList => {
                featuresList.forEach(feature => {
                    $listElement = $(`<li><span>${feature.name}</span><span>${feature.value}</span></li>`);
                    if (selectedFeature !== null && selectedFeature.id === feature.id) {
                        $listElement.addClass('selected');
                    }
                    $listElement.data('feature', feature).click(elementsClickHandler);
                    $featureList.append($listElement);
                });
            });
        }

        // Привязываем обработчик к кнопке Отмена
        $('#card_container input[type=button]').click(() => window.location.pathname = '/inventory/');

        // Привязываем обработчик к кнопке Сохранить
        $('#card_container form').submit(event => {
            event.preventDefault();
            let $form = $(event.target);

            let data = $form.serialize();

            $.ajax(`${EQUIPMENT_CARDS_API_URL}${cardId}/`, {
                method: 'patch',
                data
            }).then(() => window.location.pathname = '/inventory/');
        });

        // Привязываем обработчики к кнопкам управления свойствами
        // Кнопка добавления свойства
        $('#create_feature_btn').click(() => {
            let $dialog = $('#feature_dialog');
            $('input[type=text]', $dialog).val('');

            // Привязываем обработчик к кнопке отправки
            $('form', $dialog).off().submit(event => {
                event.preventDefault();

                let $form = $(event.target);
                let data = {
                    equipment_card: cardId,
                    name: $('input[name=name]', $form).val(),
                    value: $('input[name=value]', $form).val()
                }
                $.ajax(EQUIPMENT_FEATURES_API_URL, {
                    method: 'post',
                    data
                }).then(createdFeature => {
                    $dialog.get(0).close();
                    selectedFeature = createdFeature;
                    refreshFeatures();
                });
            });

            $dialog.get(0).showModal();
        });

        // Кнопка редактирования свойства
        $('#edit_feature_btn').click(() => {
            if (selectedFeature === null) return;

            let $dialog = $('#feature_dialog');
            $('input[name=name]', $dialog).val(selectedFeature.name);
            $('input[name=value]', $dialog).val(selectedFeature.value);

            // Привязываем обработчик к кнопке отправки
            $('form', $dialog).off().submit(event => {
                event.preventDefault();

                let $form = $(event.target);
                let data = {
                    equipment_card: cardId,
                    name: $('input[name=name]', $form).val(),
                    value: $('input[name=value]', $form).val()
                }
                $.ajax(`${EQUIPMENT_FEATURES_API_URL}${selectedFeature.id}/`, {
                    method: 'patch',
                    data
                }).then(() => {
                    $dialog.get(0).close();
                    refreshFeatures();
                });
            });

            $dialog.get(0).showModal();
        });

        // Кнопка удаления свойства
        $('#remove_feature_btn').click(() => {
            if (selectedFeature === null) return;

            $.ajax(`${EQUIPMENT_FEATURES_API_URL}${selectedFeature.id}/`, {method: 'delete'}).then(() => {
                selectedFeature = null;
                refreshFeatures();
            });
        });

        // Привязываем обработчик к кнопке Отмена в диалоге свойств
        $('#feature_dialog input[type=button]').click(() => {
            $('#feature_dialog').get(0).close();
        });

        // Обновляем список свойств
        refreshFeatures();
    </script>
{% endblock %}