{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Описание -->
        <div class="description">
            <h3>Добро пожаловать на LiteInventory!</h3>
            <p>
                liteInventory создан, чтобы облегчить ведение реестра компьютерной, сетевой и оргтехники на небольшом
                предприятии. Вы можете создавать группы (соответствующие отделам, кабинетам, филиалам и т.д.) и
                описывать
                используемую в них технику, а сервис всегда подскажет, сколько всего у вас в парке компьютеров и
                принтеров,
                роутеров и серверов, ноутбуков и точек доступа.
            </p>
            <p>
                Для каждого вида техники можно создавать сколько угодно дополнительных параметров с характиристиками
                (например, объем памяти, модель процессора, установленное ПО и т.д.) и создавать комментарии.
            </p>
        </div>

        <div class="control">

            <!-- Управление аккаунтом -->
            <h3>
                {% if user.get_full_name %}
                    {{ user.get_full_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </h3>
            <ul class="account_actions">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'main:inventory' %}">Мой инвентарь</a></li>
                    <li><a href="{% url 'main:edit_account' %}">Редактировать аккаунт</a></li>
                    <li><a href="{% url 'main:change_password' %}">Сменить пароль</a></li>
                    <li><a href="{% url 'main:logout' %}">Выйти</a></li>
                    <li><a href="{% url 'main:remove_account' %}">Удалить аккаунт</a></li>
                {% else %}
                    <li><a href="{% url 'main:login' %}">Войти</a></li>
                    <li><a href="{% url 'main:register' %}">Зарегистрироваться</a></li>
                    <li><a href="{% url 'main:reset_password' %}">Сбросить пароль</a></li>
                {% endif %}
            </ul>

            <!-- Служебные ссылки -->
            <ul class="staff_block">
                <li><a href="{% url 'main:api_description' %}">Описание API</a></li>
                <li><a href="{% url 'admin:index' %}">Вход для администратора</a></li>
            </ul>

        </div>

    </div>
{% endblock %}