{% extends 'main/base.html' %}

{% block content %}
    <div>
        <h3>
            {% if user.is_authenticated %}
                {% if user.get_full_name %}
                    Добро пожаловать на liteInventory, {{ user.get_full_name }}!
                {% else %}
                    Добро пожаловать на liteInventory, {{ user.username }}!
                {% endif %}
            {% else %}
                Добро пожаловать на liteInventory!
            {% endif %}
        </h3>
        <p>
            liteInventory создан, чтобы облегчить ведение реестра компьютерной, сетевой и оргтехники на небольшом
            предприятии. Вы можете создавать группы (соответствующие отделам, кабинетам, филиалам и т.д.) и описывать
            используемую в них технику, а сервис всегда подскажет, сколько всего у вас в парке компьютеров и принтеров,
            роутеров и серверов, ноутбуков и точек доступа.
        </p>
        <p>
            Для каждого вида техники можно создавать сколько угодно дополнительных параметров с характиристиками
            (например, объем памяти, модель процессора, установленное ПО и т.д.) и создавать комментарии.
        </p>
    </div>
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'main:inventory' %}">перейти в инвентарь</a></li>
                <li><a href="{% url 'main:logout' %}">выйти</a></li>
                <li><a href="{% url 'main:change_password' %}">сменить пароль</a></li>
                <li><a href="{% url 'main:edit_account' %}">редактировать аккаунт</a></li>
                <li><a href="{% url 'main:remove_account' %}">удалить аккаунт</a></li>
            {% else %}
                <li><a href="{% url 'main:login' %}">войти</a></li>
                <li><a href="{% url 'main:register' %}">зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        Описание API.
        <a href="{% url 'admin:index' %}">
            Вход для администратора.
        </a>
    </div>
{% endblock %}
