{% extends 'main/base.html' %}

{% block content %}
    <div>
        <h3>
            Добро пожаловать на liteInventory!
        </h3>
        <p>
            liteInventory создан, чтобы облегчить ведение реестра компьютерной, сетевой и оргтехники на небольшом
            предприятии. Вы можете создавать группы (соответствующие отделам, кабинетам, филиалам и т.д.) и описывать
            используемую в них технику, а сервис всегда подскажет, сколько всего у вас в парке компьютеров и принтеров,
            роутеров и серверов, ноутбуков и точек доступа.
        </p>
        <p>
            Для каждого вида техники можно создавать сколько угодно дополнительных параметров с характиристиками
            (например, объем памяти, модель процессора, установленное ПО и т.д.) и создавать комментарии.
        </p>
    </div>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'main:inventory' %}">перейти в инвентарь</a>
        {% else %}
            <a href="{% url 'main:login' %}">войти</a> или зарегистрироваться.
        {% endif %}
    </div>
    <div>
        Описание API.
        <a href="{% url 'admin:index' %}">
            Вход для администратора.
        </a>
    </div>
{% endblock %}
