{% extends 'main/base.html' %}


{% block content %}
    <div id="container" class="container">

    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $.ajax('/api/groups/').then(data => {
            let $container = $('#container');
            let $groupList = $('<ul>');
            $groupList.appendTo($container);

            for (let group of data) {
                $groupList.append($('<li>').text(group.title));
            }
        });
    </script>
{% endblock %}