{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/inventory.css' %}">
{% endblock %}

{% block content %}
    <div class="container group_control">
        <input type="button" id="create_group_btn" value="Добавить">
        <input type="button" id="rename_group_btn" value="Переименовать">
        <input type="button" id="remove_group_btn" value="Удалить">
    </div>
    <div class="container item_control">
        <input type="button" id="to_index_btn" value="На главную">
        <input type="button" id="create_item_btn" value="Добавить">
        <input type="button" id="remove_item_btn" value="Удалить">
    </div>
    <div id="group_list" class="container group_list"></div>
    <div id="item_list" class="container item_list"></div>

    <dialog id="create_group_dialog">
        <form id="create_group_form">
            <input type="text" name="title" placeholder="Введите название новой группы" required>
            <select name="group">
            </select>
            <div>
                <input type="button" value="Отмена">
                <input type="submit" value="Создать">
            </div>
        </form>
    </dialog>

    <dialog id="rename_group_dialog">
        <form id="rename_group_form">
            <input type="text" name="title" required>
            <div>
                <input type="button" value="Отмена">
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </dialog>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        const GROUPS_API_URL = '/api/groups/';

        let selectedGroup = null;

        // Функция для загрузки и отображения списка групп
        function buildGroupList(url, elementsClickHandler, selectedId = null) {
            let $root = $('#group_list');

            // Функция формирует список (ul), наполняет его наименованиями групп из groupList и вставляет в $container
            function insertGroupToContainer($container, groupList, hasRoot = false) {
                if (groupList.length === 0) return;
                let $listElement = $('<ul>');
                $listElement.appendTo($container);
                let titleHtml;
                for (let group of groupList) {
                    if (selectedId !== group.id) {
                        titleHtml = `<span>${group.title}</span>`;
                    } else {
                        titleHtml = `<span class="selected">${group.title}</span>`;
                    }
                    if (hasRoot) {
                        $listElement.append(
                            $(`<li data-id=${group.id}>`)
                                .data('group', group)
                                .addClass('root_group')
                                .html(titleHtml)
                        );
                    } else {
                        $listElement.append(
                            $(`<li data-id=${group.id}>`)
                                .data('group', group)
                                .html(titleHtml)
                        );
                    }
                }
            }

            $.ajax(url).then(rawData => {
                // Очищаем контейнер, в который будем рендерить группы
                $('*', $root).off().empty();

                // Первый этап - рендеринг списка корневых групп
                let work1 = rawData.filter(value => value.group === null);
                insertGroupToContainer($root, work1, true);

                // Второй этап - рендеринг списка подгрупп
                let work2;
                let buffer;
                while (work1.length > 0) {
                    work2 = [];
                    for (let group of work1) {
                        let $container = $(`li[data-id=${group.id}]`);
                        buffer = rawData.filter(value => value.group === group.id);
                        if (buffer.length > 0) {
                            insertGroupToContainer($container, buffer);
                            work2 = work2.concat(buffer);
                        }
                    }
                    work1 = work2;
                }

                // Назначаем обработчки событий для всех элементов
                $('span', $root).click(elementsClickHandler);
            });

            // Возвращаем значение, чтобы можно было продолжать цепочку jQuery
            return this;
        }

        // Функция обновления списка групп
        function refreshGroupList(selectedId = null) {
            let elementsClickHandler = event => {
                event.stopPropagation();
                $('.selected', $('#group_list')).removeClass('selected');
                $(event.target).addClass('selected');
                selectedGroup = $(event.target).closest('li').data('group');
            }
            buildGroupList(GROUPS_API_URL, elementsClickHandler, selectedId);
        }

        // Привязываем обработчики к кнопкам управления группами
        // Кнопка создания новой группы
        // Кнопка создания группы
        $('#create_group_btn').click(() => {
            $.ajax(GROUPS_API_URL).then(groupList => {
                let $dialog = $('#create_group_dialog');
                $('input[type=text]', $dialog).val('');
                let $parentSelector = $('select', $dialog);
                $parentSelector.empty();
                $parentSelector.append($(`<option value="place_to_root">-- поместить в корень --</option>`))
                for (let group of groupList) {
                    $parentSelector.append($(`<option value="${group.id}">${group.title}</option>`));
                }
                if (selectedGroup !== null) {
                    $parentSelector.val(selectedGroup.id);
                }
                $dialog.get(0).showModal();
            });
        });

        // Кнопка переименования группы
        $('#rename_group_btn').click(() => {
            if (selectedGroup === null) return
            let $dialog = $('#rename_group_dialog');
            $('input[type=text]', $dialog).val(selectedGroup.title);
            $dialog.get(0).showModal();
        });

        // Кнопка удаления группы
        $('#remove_group_btn').click(() => {
            if (selectedGroup === null) return;
            $.ajax(`${GROUPS_API_URL}${selectedGroup.id}/`, {
                method: 'delete'
            }).then(() => {
                selectedGroup = null;
                refreshGroupList()
            });
        })

        // Привязываем обработчики к кнопкам управления в диалоге создания группы
        // Кнопка закрытия диалога
        $('#create_group_dialog input[type=button]').click(() => {
            $('#create_group_dialog').get(0).close();
        });

        // Кнопка сохранения
        $('#create_group_dialog form').submit(event => {
            event.preventDefault();

            let data = {
                title: $('#create_group_form input[name=title]').val()
            }
            if ($('#create_group_form select').val() !== "place_to_root") {
                data.group = $('#create_group_form select').val()
            }

            $.ajax(GROUPS_API_URL, {
                method: 'post',
                data
            }).then(() => {
                $('#create_group_dialog input[type=button]').trigger('click');
                refreshGroupList(selectedGroup.id);
            });
        });

        // Привязываем обработчики к кнопкам управления в диалоге переименования группы
        // Кнопка закрытия диалога
        $('#rename_group_dialog input[type=button]').click(() => {
            $('#rename_group_dialog').get(0).close();
        });

        // Кнопка сохранения
        $('#rename_group_dialog form').submit(event => {
            event.preventDefault();
            $.ajax(`${GROUPS_API_URL}${selectedGroup.id}/`,
                {
                    method: 'patch',
                    data: {
                        title: $('#rename_group_dialog input[type=text]').val()
                    }
                }
            ).then(() => {
                refreshGroupList(selectedGroup.id);
                $('#rename_group_dialog input[type=button]').trigger('click');
            });
        });

        // Привязываем обработчики к кнопкам управления элементами
        // Кнопка перехода на главную страницу
        $('#to_index_btn').click(() => {
            window.location.pathname = 'index/'
        });

        // Обновляем список групп
        refreshGroupList();

        // Устанавливаем заголовок для всех ajax-запросов
        $.ajaxSetup({headers: {'X-CSRFToken': Cookies.get('csrftoken')}});
    </script>
{% endblock %}