{% extends 'main/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <form method="post">
                <label for="password_field">Текущий пароль:</label>
                <input id="password_field" type="password" name="password" >
                {% if error %}
                    {{ error }}
                {% endif %}
                {% csrf_token %}
                <input type="submit" value="Удалить аккаунт">
            </form>
        </div>
    {% else %}
        <div>
            Прежде, чем удалить аккаунт, вы должны <a href="{% url 'main:login' %}">выполнить вход</a>
        </div>
    {% endif %}
{% endblock %}