{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/common_account_form_styles.css' %}">
    <style>
        label {
            display: inline-block;
            margin-bottom: 5px;
        }

        input {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <h3>
                    Удаление аккаунта персонала или суперпользователя производится через стандарную
                    <a href="{% url 'admin:index' %}">панель администрирования Django</a>
                </h3>
            {% else %}
                <h3>Чтобы удалить аккаунт, введите текущий пароль</h3>
                <form method="post">
                    <label for="password_field">Текущий пароль:</label>
                    <input id="password_field" type="password" name="password" required>
                    {% if error %}
                        <ul class="errorlist">
                            <li>{{ error }}</li>
                        </ul>
                    {% endif %}
                    {% csrf_token %}
                    <input type="submit" value="Удалить аккаунт">
                </form>
            {% endif %}
        {% else %}
            <h3>
                Прежде, чем удалить аккаунт, вы должны <a href="{% url 'main:login' %}">выполнить вход</a>
            </h3>
        {% endif %}
    </div>
{% endblock %}