{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/reset_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <h3>
                    Для управления паролями персонала и суперпользователей перейдите на
                    <a href="{% url 'admin:index' %}">страницу администрирования Django</a>
                </h3>
            {% else %}
                <h3>
                    Для сброса пароля сперва выполните
                    <a href="{% url 'main:logout' %}">выход с сайта</a>
                </h3>
            {% endif %}
        {% else %}
            <h3>Сброс пароля</h3>
            <form method="post">
                <label>Адрес электронной почты, на который будет выслан код для сброса пароля:</label>
                <input type="email" name="email" required>
                {% if error %}
                    <ul class="errorlist">
                        <li>{{ error }}</li>
                    </ul>
                {% endif %}
                {% csrf_token %}
                <input type="submit" value="Отправить код">
            </form>
        {% endif %}
    </div>
{% endblock %}