{% extends 'main/base.html' %}

{% block content %}
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <label for="code_field">Код из письма:</label>
                    </td>
                    <td>
                        <input id="code_field" type="text" name="code">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password1_field">Новый пароль:</label>
                    </td>
                    <td>
                        <input id="password1_field" type="password" name="password1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password2_field">Новый пароль:</label>
                    </td>
                    <td>
                        <input id="password2_field" type="password" name="password2">
                    </td>
                </tr>
            </table>
            {% csrf_token %}
            <input type="submit" value="Обновить пароль">
        </form>
    </div>
{% endblock %}