{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/stat.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <input type="button" id="to_inventory_btn" value="К инвентарю">
        <div>
            <h1>Общее количество оборудования: {{ total_count|default_if_none:"" }} шт.</h1>
        </div>
        <div>
            <h1>Общая стоимость оборудования: {{ total_price|default_if_none:"" }} руб.</h1>
        </div>
        <details>
            <summary>Количество оборудования по группам (шт.):</summary>
            <ul>
                {% for element in count_by_groups %}
                    <li>
                        <span>{{ element.title }}</span>
                        <span>{{ element.equipment_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </details>
        <details>
            <summary>Стоимость оборудования по группам (руб.):</summary>
            <ul>
                {% for element in price_by_groups %}
                    <li>
                        <span>{{ element.title }}</span>
                        <span>{{ element.equipment_price }}</span>
                    </li>
                {% endfor %}
            </ul>
        </details>
        <details>
            <summary>Количество оборудования по типам (шт.):</summary>
            <ul>
                {% for element in count_by_types %}
                    <li>
                        <span>{{ element.title }}</span>
                        <span>{{ element.equipment_count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </details>
        <details>
            <summary>Стоимость оборудования по типам (руб.):</summary>
            <ul>
                {% for element in price_by_types %}
                    <li>
                        <span>{{ element.title }}</span>
                        <span>{{ element.equipment_price }}</span>
                    </li>
                {% endfor %}
            </ul>
        </details>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('#to_inventory_btn').click(() => {
            window.location.pathname = '/inventory/';
        });
    </script>
{% endblock %}