.container {
    max-width: 750px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(90, 90, 90, 0.2);
    border-radius: 15px;
    overflow: auto;
    font-family: "Roboto Light", Arial, SansSerif;
}

.container:not(:first-child) {
    margin-top: 10px;
}

.container p {
    margin: 15px 0;
}