.container {
    width: 600px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(90, 90, 90, 0.2);
    border-radius: 15px;
    overflow: auto;
    font-family: "Roboto Light", Arial, SansSerif;
}

.container > div {
    margin: 10px 0;
}

em {
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px 5px;
    cursor: pointer;
}

li:not(:last-child) {
    border-bottom: 1px dashed rgb(50, 50, 50);
}

.selected {
    background-color: rgb(50, 50, 50);
    color: white;
}