.container {
    max-width: 750px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(90, 90, 90, 0.2);
    border-radius: 15px;
    overflow: auto;
    font-family: "Roboto Light", Arial, SansSerif;
}

.container:not(:first-child) {
    margin-top: 10px;
}

.container div, dialog div {
    margin: 15px 0;
}

.features_list {
    list-style-type: none;
    padding-left: 0;
}

.features_list li {
    padding: 10px 5px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.features_list li:not(:last-child) {
    border-bottom: 1px dashed rgb(50, 50, 50);
}

.features_list span:first-child {
    display: inline-block;
    padding-right: 5px;
    max-width: 40%;
    min-width: 40%;
}

.selected {
    background-color: rgb(50, 50, 50);
    color: white;
}