.container {
    max-width: 750px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 20px rgba(90, 90, 90, 0.2);
    border-radius: 15px;
    overflow: auto;
    font-family: "Roboto Light", Arial, SansSerif;
}

.container > div {
    padding: 10px 0;
}

.container > div:not(:last-child) {
    border-bottom: 1px dashed rgb(50, 50, 50);
}